body {
  background-color: var(--mainBg);
  color: var(--white);
  margin: 0;
  padding: 0;
  font-family: 'gmarket';

}


.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
